*{
    font-family: 'Alata', sans-serif;
}

body {
    margin: 0; /* Remove the default margin */
    padding: 0;
}



.side-bar {
    z-index: 2; /* Lower z-index so it's below the top bar */
    width: 350px;
    min-width: 300px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto; 
    align-items: center;
    backdrop-filter: blur(5px);
    
    
}

.side-bar h2{
    color: #000000;
    text-decoration: none;
    font-size: 2.5rem;
    padding-right: 20px;
    
    
    
}

.main-content {
    width: 80%;
    padding-left: 20px;
    padding: auto;

}

.content{
    display: flex;
    flex-direction: row;

}

ul {
    list-style-type: none;
    padding: 0;
  }

  .list-icon {
    width: 30px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
  }
  
  .list-name {
    font-size: 1.5em; /* Adjust as needed */
    text-decoration: none;
    color: #000000;
    padding-left: 10px;
    
  }
li{
    
    font-family: 'Alata', sans-serif;
    margin: 3px 0;
    height: auto;
    padding-top: 20px;
    font-size: 1.125rem;
    color: var(--textColor);
    background: transparent;
    padding: 5px;
    display: flex;
    align-items: flex-start;
    border-radius: 4px;
    border: solid 2px transparent;
    box-sizing: border-box;
    cursor: pointer;

}

button{
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
}


#all-projects{
   
    text-decoration: none;
    display: flex;
    flex-direction: column;

}

p{
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    
}

.title-icon {
    width: 75px; /* Adjust as needed */
    height: 75px; /* Adjust as needed */
    vertical-align: middle; 
}

.new-todo-background{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}

form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea,
input[type="date"],
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#all-tasks-title{
    font-size: 2.5rem;
    color: #000000;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
    text-align: center;
   
}


.todo{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top:10px;

    
}


.todo-description.hidden {
    max-height: 0px; /* Adjust this value as needed */
  }

.todo-img{
    width:25px;
    height: 25px;
    margin-right: 10px;
}

.todo-date{
    margin-right: 100px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

.todo-checkbox{
    margin-left: 20px;
    width: 50px;
    height: 50px;
    
}


.todo-title{
    font-size: 1.5rem;
    max-width: 50%;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 100px;
    word-wrap: break-word;
    
}

.completed {
    text-decoration: line-through;
  }

.todo-description{
    font-size: 1.5rem;
    max-width:50%;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 100px;
    text-align: center;
    word-wrap: break-word;
    max-height: 200px;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}


.todo-container{
    display: flex;
    flex-direction: column;
    width: 98.5%;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    
}

.all-tasks{
    display: flex;
    flex-direction: column;
    width:95%;
    max-width: 100%;
    align-items: flex-start;
    padding-top: 10px;
    padding: 10px;
    justify-items: flex-start;
    overflow-y: auto;
    

}

.todo-header{
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: center;
    
}

.todo-options{
    display: flex;
    flex-direction: row;
    width: 30%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}



